@model eResorts.Models.TranslatorModel
@{
    ViewBag.Title = "AddContacts";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
     <script type="text/javascript">
         $(document).ready(function () {

             $("#btnback").click(function () {
                 window.location = "/Clients/ClientProperty/PropertyList";
             });
             
             $(".icon-remove").click(function (e) {
                 var id = $(this).attr("id");
                 var proId = $(this).attr("propertyId");

                 $("#deleteId").val(id);
                 $("#propertyId").val(proId);
             });

             $("#btndelete").click(function (e) {

                 var id = $("#deleteId").val();
                 var propId = $("#propertyId").val();
                 //alert(id);
                 if (id > 0 && propId > 0) {

                     $("#loader").show();
                     var url = "/Clients/ClientProperty/DeleteContact?id=" + id + "&propId=" + propId;

                     $.post(url, function () {
                         window.location = "/Clients/ClientProperty/AddContacts?propertyId=" + propId;
                     });
                     
                     //$.ajax({
                     //    type: "POST",
                     //    url: "/Admin/PropertyAdmin/DeleteContact",
                     //    data: { id: id, propId: propId },
                     //    success: function (result) {

                     //        $("#deleteId").val(0);
                     //        $("#propertyId").val(0);
                     //        $("#btncancel").click();

                     //    }

                     //});

                 }

             });
             
         });
    </script>
}

<style>
    #loader
    {
        background:#fff url(/Content/images/loading.gif) no-repeat center center;
        height: 100px;
        width: 100px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
    }
</style>

@Html.Hidden("deleteId","0")
@Html.Hidden("propertyId","0")
<div id="loader" style="display:none"></div>
<!-- delete record-->
<div class="modal hide" id="deleteRecord">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            x
        </button>
        <h3>Delete Contact</h3>
    </div>
    <div class="modal-body">
        <span> Are you sure ? do you wish to delete this <span style="color:red;font-size:14px">Contact</span> ?</span>
    </div>
    <div class="modal-footer">
        <a href="#" id="btncancel" class="btn" data-dismiss="modal">No </a>
        <a href="#" id="btndelete" class="btn btn-primary" data-dismiss="modal">Yes </a>
    </div>
</div>
<!-- End delete-->
<section id="main">
    <div class="body-text">
<div class="container-fluid" >
        <div class="row-fluid">
            <div class="span3">
                <div class="qbox">
                    <h3><i class="pull-right"></i>Menu</h3>
                    <a  href="/Clients/ClientProperty/Addproperty" class="active "> Add Property</a><br/>
                    <a href="/Clients/ClientProperty/PropertyList"> Property List</a>
                </div>
            </div>
            <div class="span9">
            <div class=" qbox form-horizontal contact-info">
            <h3><i class="pull-right"></i>Add Translators for : @ViewBag.Property</h3>
                <form action="@Url.Content("~/Clients/ClientProperty/AddContacts")" method="post" enctype = "multipart/form-data">
                    @Html.HiddenFor(x => x.Id)
                     @Html.HiddenFor(x => x.PropertyId)
                  @Html.HiddenFor(x => x.ImageName)
                    <div class="control-group">
                        <div class="control-label">
                            <label for="Name">Translator Name</label>
                        </div>
                        <div class="controls">
                            @*    <input type="text" name="Name" id="Name" />*@
                            @Html.TextBoxFor(m=>m.Name,new{@class="span6"})
                            
                        </div>

                    </div>
                     <div class="control-group">
                        <div class="control-label">
                            <label>Photo (336 * 336 )</label>
                        </div>
                        <div class=" controls">
                            <input type="file" name="file" id="file" style="width: 50%;" />
                            @*  @Html.TextBoxFor(x => x.ImageName, new {@readonly="true" ,@style="width:0px"})*@
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-label">
                            <label for="Language">Language</label>
                        </div>
                        <div class="controls">
                                @Html.TextBoxFor(m=>m.Language,new{@class="span5"})
                            
                           @* <input type="text" name="Language" />*@
                            
                        </div>

                    </div>
                    <div class="control-group">
                        <div class="control-label">
                            <label for="Landline">Landline</label>
                        </div>
                        <div class="controls">
                            @*<input type="text" name="Landline" />*@
                                @Html.TextBoxFor(m=>m.Landline,new{@class="span4"})
                            
                           
                        </div>

                    </div>
                    <div class="control-group">
                        <div class="control-label">
                            <label for="Mobile">Mobile</label>
                        </div>
                        <div class="controls">
                            @*<input type="text" name="Mobile" />*@
                                @Html.TextBoxFor(m=>m.Mobile,new{@class="span4"})
                            
                            
                        </div>

                    </div>
                   
                    <div class="control-group">

                        <div class="controls">
                            @if (Model.Id == 0)
                            {
                                <input type="submit" value="Add Translator" class="btn btn-primary" />
                            }
                            else
                            {
                                <input type="submit" value="Edit Translator" class="btn btn-primary" />
                            }
                            <input id="btnback" value="Back" class="btn" type="button" >
                        </div>
                    </div>
                    <div class="box">
                        @*<div class="box-title">
                            <br />
                        </div>*@
                        <div>
                               <table class="table table-bordered " style="background:white">
                                            <thead>
                                                <tr>
                                                    <th class="small">
                                                         Name
                                                    </th>  
                                                    <th class="small">
                                                         Photo
                                                    </th>                              
                                                    <th class="small">
                                                        Language
                                                    </th>
                                                    <th class="small">
                                                       Land line
                                                    </th>
                                                    <th class="small">
                                                        Mobile No
                                                    </th>
                            
                                                    <th>
                                                           Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Translators)
                                                {
                                                    <tr >                                                                                   
                                                        <td>
                                                            @item.Name 
                                                        </td>
                                                        <td>
                                                            <img src="@item.ImageName" width="50px" height="50px"/>
                                                        </td>

                                                        <td>
                                                           @item.Language
                                                        </td>
                                                        
                                                        <td>
                                                           @item.Landline
                                                        </td>
                                                        <td>
                                                          @item.Mobile
                                                        </td>
                                                        <td>
                                                             @{
                                                    var editurl = "~/Clients/ClientProperty/AddContacts?propertyId=" + @item.PropertyId + "&id=" + @item.Id;
                                                            }
                                                            <a id="btnEdit" href="@Url.Content(editurl)" title="click to edit" class="icon-edit"></a>
                                        
                                                            @{
                                                    var deleteurl = "~/Clients/ClientProperty/DeleteItem?id=" + @item.Id;
                                                            }
                                                           
                                                             <a href="#deleteRecord" data-toggle="modal" class="icon-remove" id=@item.Id  propertyId=@item.PropertyId ></a>
                                                       
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                         
                                        </table>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
        </div>
</div>
    <!-- end body-text -->

    <!-- /container -->
</section>
<div>&nbsp;</div>