@using eResorts.Models
@using eZeroOne.Domain
@model eResorts.Models.HotelSearchModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutindex.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jsImgSlider/themes/6/js-image-slider.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/jsImgSlider/themes/6/mcVideoPlugin.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/jsImgSlider/themes/6/js-image-slider.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jsImgSlider/generic.css")" rel="stylesheet" type="text/css" />
   
<script src="@Url.Content("http://www.google.com/jsapi?autoload={'modules':[{name:'maps',version:3,other_params:'sensor=false'}]}")" type="text/javascript"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/ipmapper.js")"></script>
<style>
    .culture {
        color:  orange;
    }
    .nature {
        color:  green;
    }
    .people {
       
        color: purple;
    }
    #loader
    {
        background:#fff url(/Content/images/loading.gif) no-repeat center center;
        height: 100px;
        width: 100px;
        position: fixed;
        z-index: 1000;
        left: 50%;
        top: 50%;
        margin: -25px 0 0 -25px;
    }
</style>

<script type="text/javascript">
    var infoList = [];
    
    $(document).ready(function () {

        // findLocation();
        recentlyAdded();
        
        $('#btnSearch').click(function () {
           
            
            $("#Location").val($("#location").val());
            var inputvalues = $('#frmMainSearch').serialize();

            var selectedPoi = new Array();
            $(".poi:checked").each(function () {
                selectedPoi.push($(this).attr('name'));
            });

            var selectedFeatures = new Array();
            $(".feature:checked").each(function () {
                selectedFeatures.push($(this).attr('name'));
            });

            var dataPost = { filter: inputvalues, poiList: selectedPoi, featureList: selectedFeatures };

            $.post('/Home/GetFilteredHotelData/', inputvalues + '&poiList=' + selectedPoi + '&featureList=' + selectedFeatures, function (data) {
               
                
                //loading partial view
                $.post('@Url.Action("SearchResults", "Home")', function (results) {
                    $('#detailsDiv').show();
                    $('#detailsDiv').html(results);
                });

                LoadHotelsMap(data.city, data.hotels, data.radius);

                $("#loader").hide();
            });


        });

        $('#btnSearch2').click(function () {

            var inputvalues = $('#frmMainSearch').serialize();
            var dataPost = { filter: inputvalues };

            $.post('/Home/GetFilteredHotelData/', inputvalues , function (data) {


                //loading partial view
                $.post('@Url.Action("SearchResults", "Home")', function (results) {
                    $('#detailsDiv').show();
                    $('#detailsDiv').html(results);
                });

                LoadHotelsMap(data.city, data.hotels, data.radius);

                $("#loader").hide();
            });


          });
        //icon-info
        
        $(".btn-link").click(function (e) {
            var id = $(this).attr("id");
            if (id > 0) {
                $.ajax({
                    type: "GET",
                    url: "/Property/GetReviewComment",
                    data: { id: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $("#bodyReviewDiv").html(data.Comment + "<br/><br/>- " + data.Name + "<br/> ( " + data.Email + " )");

                    }
                });
            }
        });
        
        $(".icon-info").click(function (e) {
            var id = $('#LocationId').val();
            if (id > 0) {
                $.ajax({
                    type: "GET",
                    url: "/Home/GetLocation",
                    data: { id: id },
                    datatype: "json",
                    traditional: true,
                    success: function(data) {

                        $("#bodyDiv").html(data);
                    }
                });
            } else {
                
                $("#bodyDiv").html("<span style='color:red;font-size:14px'>Please select a location to see the Information</span>");
            }
        });
        
        $(".classtest").click(function (e) {
            var id = $(this).attr("id");
            if (id > 0) {
                $.ajax({
                    type: "GET",
                    url: "/Home/GetRecommandation",
                    data: { id: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        $("#spnName").html("- " + data.Name + "<br/> ( " + data.Profession +" )");
                        //$("#spnProfession").html("-" + data.Profession);
                        $("#spnEmail").html("- " + data.Email);
                        $("#spnComments").html(data.Comments);
                        $("#imgPhoto").attr('src', '/PropertyImages/Recommandation/' + data.PhotoUrl);
                    }
                });
            } 
        });
        
        $('#LocationId').change(function () {

            var locId = $('#LocationId').val();
            
            $("#DesignationId option").each(
                 function (index, option) {
                     $(this).remove();
                 }
              );

            $.ajax({
                type: "GET",
                url: "/Property/GetFileredOccupation",
                data: { distriictId: locId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $.each(data, function () {
                        $("#DesignationId").append($("<option />").val(this['Id']).text(this['Name']));
                    });
                }

            });
            
            $("#AccomodationTypeId option").each(
                function (index, option) {
                    $(this).remove();
                }
            );
            
            $.ajax({
                type: "GET",
                url: "/Home/GetFileredAccomodationType",
                data: { distriictId: locId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $.each(data, function () {
                        $("#AccomodationTypeId").append($("<option />").val(this['Id']).text(this['Name']));
                    });
                }

            });
            
            //$("#AccomodationTypeId").val(0);
            $("#AccomodationTypeId option[value='0']").attr("selected", "selected");


            $("#AccomodationStandardId option").each(
                function (index, option) {
                    $(this).remove();
                }
            );
            
            $.ajax({
                type: "GET",
                url: "/Home/GetFileredAccomodationStandard",
                data: { distriictId: locId, accoType: 0 },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $.each(data, function () {
                        $("#AccomodationStandardId").append($("<option />").val(this['Id']).text(this['Name']));
                    });
                }

            });
        });
        

        $('#LocationId2').change(function () {

            var locId = $('#LocationId2').val();

            $("#DesignationId2 option").each(
                 function (index, option) {
                     $(this).remove();
                 }
              );

            $.ajax({
                type: "GET",
                url: "/Property/GetFileredOccupation",
                data: { distriictId: locId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $.each(data, function () {
                        $("#DesignationId2").append($("<option />").val(this['Id']).text(this['Name']));
                    });
                }

            });

        });

        $('#AccomodationTypeId').change(function () {

            var locId = $('#LocationId').val();
            var accotype = $('#AccomodationTypeId').val();
            
            // if (accotype != 0) {
            $("#AccomodationStandardId option").each(
                function (index, option) {
                    $(this).remove();
                }
            );

            $.ajax({
                type: "GET",
                url: "/Home/GetFileredAccomodationStandard",
                data: { distriictId: locId, accoType: accotype },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    $.each(data, function () {
                        $("#AccomodationStandardId").append($("<option />").val(this['Id']).text(this['Name']));
                    });
                }

            });
            //}
         
        });
      
    });

    function findLocation() {
        
        var lat = 6.92765378919141;
        var long = 79.86236572265625;
        
        // $.get("http://api.ipinfodb.com/v2/ip_query.php?key=eb8be02ac7d20d14de2eeb51a93a9127719c69b8c9e74758c7d9dbe20c89ac80&timezone=false&format=json", function (response) {
        $.get("http://ipinfo.io", function (response) {

            try {
                IPMapper.initializeMap("map_div");
                IPMapper.addIPMarker(response.ip);
            } catch (e) {
                //handle error
                alert("error");
            }
            
            ////alert(response.ip);
            //alert(response.country);
            ////alert(response.loc);
            
            //var data = response.loc.split(',');
            //alert(data[0]);
            ////console.log(response.ip, response.country);
            
            //var mapDiv = document.getElementById('map_div');
            //var map = new google.maps.Map(mapDiv, {
            //    center: new google.maps.LatLng(lat, long),
            //    zoom: 9,
            //    mapTypeId: google.maps.MapTypeId.ROADMAP
            //});
            
            //var markerCity = new google.maps.Marker({
            //    map: map,
            //    position: new google.maps.LatLng(data[0], data[1]),
            //    title: response.city
            //});
            
            //var iconFile = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
            //markerCity.setIcon(iconFile);
            
        }, "jsonp");
  
    }
    
    function recentlyAdded() {
        
        $.post('/Home/GetRecentlyAdded/', function (data) {
            
             LoadHotelsMap(data.city, data.hotels, data.radius);
            
         });

    }
    
    function LoadHotelsMap(city, hotels, radius) {
        
        var mapDiv = document.getElementById('map_div');
        var distance = radius * 1609.3 * 0.621371; //10 miles in meters
        var lat = 7.645664723491027;
        var long = 80.61767578125;
        
        if (city.Latitude != null) {

            lat = city.Latitude;
            long = city.Longitude;
        }
        var map = new google.maps.Map(mapDiv, {
            center: new google.maps.LatLng(lat, long),
            zoom: 7,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        
        //var map = new google.maps.Map(mapDiv, {
        //    center: new google.maps.LatLng(city.Latitude, city.Longitude),
        //    zoom: 7,
        //    mapTypeId: google.maps.MapTypeId.ROADMAP
        //});
        if (radius > 0 && city.Latitude != null) {
            
            var markerCity = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(city.Latitude, city.Longitude),
                title: city.Name
            });

            var circle = new google.maps.Circle({
                map: map,
                radius: distance,
                strokeColor: "#0054a8",
                strokeWeight: 1,
                fillColor: "#0054a8"
            });
            circle.bindTo('center', markerCity, 'position');
            map.fitBounds(circle.getBounds());
        }
        //var markerCity = new google.maps.Marker({
        //    map: map,
        //    position: new google.maps.LatLng(city.Latitude, city.Longitude),
        //    title: city.Name
        //});
       
        //var circle = new google.maps.Circle({
        //    map: map,
        //    radius: distance,
        //    strokeColor: "#0054a8",
        //    strokeWeight: 1,
        //    fillColor: "#0054a8"
        //});
        //circle.bindTo('center', markerCity, 'position');
        //map.fitBounds(circle.getBounds());

        if (hotels.length > 0) {

            for (var i = 0; i < hotels.length; i++) {

                if (hotels[i].Latitude != null && hotels[i].Longitude != null) {

                    var marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(hotels[i].Latitude, hotels[i].Longitude),
                        title: hotels[i].Name
                    });

                    //bounds.extend(new google.maps.LatLng(hotels[i].Latitude, hotels[i].Longitude));
                    
                    var url = "/Property/PropertyDetail?id=" + hotels[i].Id;
                    var content = "Name:" + hotels[i].Name + "<br>Address:" + hotels[i].Adderss + "<br>Price: $ " + hotels[i].DisplayPrice + "<br>" + "<a style='color:blue' href=" + url + "> View Detail </a>";
                    var imgUrl = hotels[i].DefaultImageUrl;
                    var tblInfo = "<table>" +
                        "<tr>" +
                        //"<td><img width='90px' height='60x' src=" + imgUrl + "/></td>" +
                        "<td></td>" +
                        "<td>" + content + "</td>" +
                        "</tr>" +
                        "</table>";

                    //alert(content);
                    marker.infoWindow = new google.maps.InfoWindow({
                        content: tblInfo
                    });
                    google.maps.event.addListener(marker, "click", function () {

                        InfoClose();
                        infoList.push(this);
                        this.infoWindow.open(map, this);
                    });

                    var iconFile = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
                    marker.setIcon(iconFile);


                }

            }

        }


    }

    function InfoClose() {
        ///////////////////////////////////////////////////////////
        // this routine will close an open infowindow when a new point is clicked
        // maps V.3 does not automatically do this for you anymore so we do it here
        if (!infoList.length) { return; }
        for (i in infoList) {
            infoList[i].infoWindow.close();
        }

        infoList = [];

    } // infoClose

</script>

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="loader" style="display:none"></div>

<div class="modal hide" id="showDetails">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            x
        </button>
        <h3>Information</h3>
    </div>
    <div class="modal-body">
        <div id="bodyDiv">
            
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" id="btncancel" class="btn btn-success" data-dismiss="modal">Ok </a>
     </div>
</div>

<div class="modal hide" id="showRevieewDetails">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            x
        </button>
        <h3>Review Comment</h3>
    </div>
    <div class="modal-body">
        <div id="bodyReviewDiv">
            
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" id="b" class="btn btn-success" data-dismiss="modal">Ok </a>
    </div>
</div>

<!-- add/edit record-->
<div class="modal hide" id="testimonial">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            x
        </button>
        <h3>Expert's Advice</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <table class="table table-bordered" >
                <tr>
                    <td>
                        <img id="imgPhoto" style="width:88px;height:102px;border-radius:6px;" src="#"><br/>
                        <span class="help-inline" id="spnName"></span><br/>
                       @* <span class="help-inline" id="spnProfession"></span>*@
                        <span class="help-inline" id="spnEmail"></span>
                    </td>
                    <td>
                        <span id="spnComments"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" id="btneditcancel" class="btn" data-dismiss="modal">Ok </a>
        
    </div>
</div>
<!-- End -->

    <form id="frmMainSearch">
        <section id="main">
            <!-- Slider start-->
            <div id="slide-wrapper">
                <div id="banner">
                  
                        
                    @foreach (var img in (List<BannerImage>)ViewBag.SliderImages)
                    {
                        {
                            var imgUrl = "/PropertyImages/SliderImages/" + img.ImageName;

                            <div class="oneByOne_item">                                 	
                                <img src="@imgUrl" alt="Placeholder" class="bigImage">
                                <span class="slide5Txt1">@img.PlaceName</span>								
                                <span class="slide5Txt2">@img.ImageDescription | @img.Location</span>														
                            </div>
                        }
                    }
                </div>    
            </div>	
            <!-- end slider -->	

            <div class="body-text">

                <div class="container-fluid">

                    <div class="row-fluid">

                        <!--west pane with width of span3-->
                        <div class="span3">
                            <div class="qbox">
                                <h3><i class="icon-search pull-right"></i>Quick Search</h3>
                            
                                <div>
                                    <div>
                                        <label>
                                            Location 
                                            <span style="padding-top:2px;padding-right:20px;float:right">
                                                <img src="/Content/img/info.png" width="25" height="25"/>
                                                <a title="information about the location" href="#showDetails" data-toggle="modal" class="icon-info" >
                                                                                                             Info
                                                                                                         </a>
                                            </span>
                                           
                                        </label>
                                         
                                       @Html.DropDownListFor(model => model.LocationId, (SelectList)ViewBag.LocationList, new { @class = "chzn-select", @style = "width:100%;" })

                                    </div>
                              
                                    <br/>
                                    <fieldset>
                                        <legend >Accommodation</legend >
                                        <div>
                                            <span> Type</span>
                                            @Html.DropDownListFor(model => model.AccomodationTypeId, (SelectList)ViewBag.AccomodationTypeList, new { @class = "chzn-select", @style = "width:100%;" })

                                        </div>
                                        <div>
                                            <span> Standard</span>
                                            @Html.DropDownListFor(model => model.AccomodationStandardId, (SelectList)ViewBag.AccomodationStandardList, new { @class = "chzn-select", @style = "width:100%;" })

                                        </div>
                                        @*<div>
                                            <span style="padding-top:2px;">Host Occupation </span><span style="color:#E25A00;font-size:10px">(Homestay only)*</span>
                                             @Html.DropDownListFor(model => model.DesignationId, (SelectList)ViewBag.Designations, new { @class = "chzn-select", @style = "width:100%;" })
                                        </div>*@
                                        <div>
                                            <span>Radius extent in Km</span>
                                            @Html.DropDownListFor(model => model.Radius, (SelectList)ViewBag.RadiusList, new { @class = "chzn-select", @style = "width:100%;" })

                                        </div>
                                        <div>
                                            <span>Number of Rooms</span>
                                            @Html.DropDownListFor(model => model.No_ofRooms, (SelectList)ViewBag.RoomList, new { @class = "chzn-select", @style = "width:100%;" })

                                        </div>
                                
                                    </fieldset>
                                    <br/>
                                    <div>
                                        <label>Price Range($)</label>

                                        @Html.DropDownListFor(model => model.PriceFrom, (SelectList)ViewBag.MinPriceList, new { @class = "span1 chzn-select", @style = "width: 78px;" })
                                        @Html.DropDownListFor(model => model.PriceTo, (SelectList)ViewBag.MaxPiceList, new { @class = "span1 chzn-select", @style = "width: 78px;" })


                                    </div>
                                    <a id="btnSearch" class="btn btn-primary ">Search</a>
                                 @*   <a href="/Property/Search" class="btn btn-info btn-small ">Detail Search</a>*@
                                </div>
                            
                            </div>
                            <div>
                                <h4> Videos</h4>
                                <div id="sliderFrame"  >
                                    <div id="slider" >
                                        @foreach (var u in (List<YoutubeUrl>)ViewBag.YoutubeUrls)
                                        {
                                            var url = "/PropertyImages/" + u.Id + "/" + u.FileName;
                                        
                                            <a class="video" href="@u.Url" title="">
                                                <b data-src="@url">Image Slider</b>
                                            </a>
                                        }
                                        
                                    </div>
                                </div>
                                <div>&nbsp;</div>
                        
                            </div>
                            <div>&nbsp;</div>
                            <div>
                                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FFacebookDevelopers&amp;width&amp;height=300&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px;height:300px;" allowTransparency="true"></iframe>
                            </div>
                           
                                <div class="qbox">
                                
                                <h3>Visitor's Review </h3>
                                <div style="height:200px;overflow-y:auto">
                                    <!-- dummy short list items -->
                                    <ol class="shortlist">
                                        @foreach (var r in (List<eResorts.Models.ReviewModel>)ViewBag.ReviewComments)
                                        {
                                            <li>
                                                <img src="@r.ImageUrl" alt="" width="48" height="42">
                                                <div>
                                                    @if (r.Comment.Length > 100)
                                                    {
                                                        <p style="text-align:justify">@r.Comment.Substring(0,99)</p>
                                                    }else
                                                    {
                                                        <p style="text-align:justify">@r.Comment</p>
                                                             
                                                    }
                                                    <a id="@r.Id" href="#showRevieewDetails" data-toggle="modal" class="btn-link">&nbsp;... more</a>
                                                    - @r.Name (@r.Email)
                                                </div>
                                            </li>
                                        }
                                     
                                    </ol>
                                    <!-- end dummy short list items -->
	
                                   
                                </div>
                            </div>
                            <div class="container-fluid appartment-listing" id="renting-map-js">
                         
                            </div>
                           
                        </div>
                   
                        <!--end of span3-->

                        <!--east pane span9-->
               
                        <div class="span9 listing-js">
                        
                            <!-- Create Google Map: Center the map by positiong the latitude and longitude-->
                           <div id="google-map-js" data-lat="7.5653" data-lng="80.4303" data-zoom="7">
                                <div id="map_div" style="height:500px;">&nbsp;</div>
                            </div>
                            <p>
                                District<img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" width="20"/> &nbsp;
                                Overnight Locations <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" width="20"/> &nbsp;
                                Nearest POIs <img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png" width="20" />
                                <br/><span style="color:#E25A00;font-size:14px;float:right">* The best possible srilankan travel prices</span>
                            </p>
                            <!-- end google map-->

                            <!-- page heading -->
                       
                        </div>   
                        <!--west pane span9-->
                        <div class="span9">
                            <div class="span4">
                                <span>
                                    Location 
                                </span>
                                         
                                @Html.DropDownListFor(model => model.LocationId2, (SelectList)ViewBag.LocationList, new { @class = "chzn-select", @style = "width:100%;background-color:#E25A00;color:#E25A00" })

                            </div>
                            <div class="span6">
                                <span style="padding-top:2px;">Host Occupation </span>
                                @Html.DropDownListFor(model => model.DesignationId2, (SelectList)ViewBag.Designations, new { @class = "chzn-select", @style = "width:70%;" })
                               <a id="btnSearch2" class="btn btn-primary btn-small ">Search</a>
                            </div>
                        
                            </div>

                        <div class="span9" id="detailsDiv" style="display:none">
                        
                        </div>
                         
                        <div  class="span9" style="float:right">
                            <br/>
                            <div class="row-fluid">
                                <h4>Recently added </h4>
                                @{
                                    var rCount = 0;
                                }
                            </div>
                            <div class="row-fluid hotproperties">
                                @foreach (var p in (List<PropertyModel>)ViewBag.RecentlyAdded)
                                {
                                    <div class="span4 set-equal-heights-js">
                                        <div class="thumbnail">
                                            <a href="@p.PropertyUrl"><img style="width:200px;height:150px;" src="@p.DefaultImageUrl" alt="Placeholder" class="thumbnail"></a>
                                            
                                            <div class="caption">
                                                <a href="@p.PropertyUrl" class="prop-title">@p.Name</a>
                                                <p class="size">Bedrooms : @p.NoOfRooms </p>
                                                <p class="size">City/ Town : @p.City</p>
                                                <p class="size">District : @p.MainCityName</p>
                                                <p class="description">
                                                    Accomodation Info :
                                                    @if (p.Description.Length > 75)
                                                    {
                                                        <span>@p.Description.Substring(0, 74).ToLower()</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@p.Description.ToLower()</span>
                                                    }  
                                                    ...
                                                </p>
                                                <p class=" sticker sticker-sold">$ @p.DisplayPrice /Day</p>
                                                <ul class="list-btns">
                                                    <li><a style="color:#E25A00" href="@p.PropertyUrl"><i class="icon-info-sign"></i>View Details</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="clearfix"></div>
								
                            </div>
                        </div>
                        <div class="span9 row-fluid hotproperties" style="float:right">
                            <div class="span6 rounderCornerStyleBox">
                                <h2>Want to become a 
                                    <b>host</b>
                                </h2>
                                <a style="color:#00DDDA" href="/Account/ClientRegistration" ><span class=" icon-home"></span> <b>Sign up as a host</b></a>
                            </div>	
                            <div class="span6 rounderCornerStyleBox">
                                <h2>Want to become a 
                                    <b>visitor</b>
                                </h2>
                                <a  style="color:#00DDDA" href="/Account/VisitorRegistration"><span class=" icon-camera"></span><b>Sign up as a visitor</b></a>
                            </div>	
                        </div>
                        
                        <!-- // MY SHORT LIST // -->
                            <div class=" span9 row-fluid hotproperties rounderCornerStyleBox qbox" style="float:right">
                                <h3>Expert's Advice<label class="badge badge-important pull-right" id="short-list-count-js">0</label></h3>
                                <div  style="height:200px;overflow-y:scroll">
                                    <!-- dummy short list items -->
                                    <ol class="shortlist">
                                        @foreach (var t in (List<Recommendation>)ViewBag.Testimonials)
                                        {
                                            var url = "/PropertyImages/Recommandation/" + t.PhotoUrl;
                                            <li>
                                                <table style="width:100%">
                                                    <tr>
                                                        <td valign="top" style="width:20%">
                                                            <img style="width:58px;height:72px;border-radius:6px;" src="@url"/>
                                                        </td>
                                                        <td class="span11" style="margin-left:3px;width:80%">
                                                            <div class="span10" style="margin-left:2px;">
                                                                @if (t.Comments.Length > 100)
                                                                {
                                                                    <span >@t.Comments.Substring(0, 99).ToLower()
                                                                        <a id="@t.Id" data-toggle="modal" class="classtest" href="#testimonial">&nbsp;...more</a>
                                                                    </span>
                                                                <br/>
                                                                }
                                                                else
                                                                {
                                                                    <span >@t.Comments.ToLower()
                                                                        <a id="@t.Id" data-toggle="modal" class="classtest" href="#testimonial">&nbsp;...more</a>
                                                                   </span>
                                                                 <br/>
                                                                }  
                                                            </div>
                                                            <br/>
                                                            <span style="margin-left:2px;" class="help-inline">- @t.Name (@t.Profession) &nbsp;</span> <br/>
                                                            <span style="margin-left:2px;" class="help-inline">- @t.Email &nbsp;</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                           
                                            </li>
                                           
                                        }

                                   
                                    </ol>
                                    <!-- end dummy short list items -->
                                    <ol id="show-items" class="shortlist">
                                    </ol>
				                  
                                </div>
                            </div>
                            <!--/end my short list-->
                        
                        <!--end of west pane span9-->
                    </div>
              
                </div>
            </div>
        </section>
        <!--end section-->
    </form>


<div>&nbsp;</div>
