@{
    ViewBag.Title = "AddPoI";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>


<script type="text/javascript">
    $(document).ready(function () {

        $("#spnSaved").hide();
        $("#btnBack").click(function () {
            window.location = "/Admin/PropertyAdmin/PropertyList";
        });
        
        var propertyId = '@ViewBag.PropertyId';

        $('#btnPoi').click(function () {

            var pois = new Array();
            $(".poi:checked").each(function () {
                pois.push($(this).attr('name'));
            });
            var serializedData = $(".container-fluid").serialize();
            $.post('/Admin/PropertyAdmin/SavePois/', serializedData + '&poiList=' + pois + '&propertyId=' + propertyId, function (data) {
                $("#spnSaved").show();
            });

        });
    });
</script>
<section id="main">
    <div class="body-text">
<div class="container-fluid">

    <div class="row-fluid">
        <div class="span3">
            <div class="qbox">
                <h3><i class="pull-right"></i>Menu</h3>
              <a  href="/Admin/PropertyAdmin/Addproperty" class="active"> Add Property</a><br/>
                <a href="/Admin/PropertyAdmin/PropertyList"> Property List</a>
            </div>
        </div>
        <!--west pane with width of span12-->
        <div class="span9">
            <div class=" qbox form-horizontal contact-info">
                <h3><i class="pull-right"></i>Point of interest of : @ViewBag.Property</h3>
                <div>
                    <div class="span12">
                        <br/>
                        <label>Point of interest</label>
                        @foreach (var item in (List<eResorts.Models.PointOfInterest>)ViewBag.POTList)
                        {
                            <div class="span2">
                                @Html.CheckBox(item.Name,item.IsChecked, new { id=item.Id ,@class = "poi" }) 
                                @item.Name
                            </div>
                        }
                    </div>
                    <div>
                        <a id="btnPoi" class="btn btn-primary btn-small ">Save</a>
                        <a id="btnBack" class="btn  btn-small ">Back</a>
                        <span id="spnSaved" style="color:red;display:none"> Saved Successfully...</span> 
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--end of span12-->

</div>
   </div>
    <!-- end body-text -->

    <!-- /container -->
</section>
<div>&nbsp;</div>